.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 10vh;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2vh;
}
.table {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
