div {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.botoes-acoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

#adiciona {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #21c25e;
    color: white;
}

#remove {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #ff4040;
    color: white;
}
