.content {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5vh;
}
